/* Une version modifiée trouvée sur https://github.com/hankchizljaw/modern-css-reset */

/* Règles de dimensionnement des box */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Supprime le padding par défaut */
ul[class],
ol[class] {
  padding: 0;
}

/* Supprime les marges par défaut */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Définir les valeurs par défaut du body */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Les éléments a qui n'ont pas de classe reçoivent des styles par défaut. */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Faciliter le travail sur les images */
img {
  max-width: 100%;
  display: block;
}

/* Polices héritées pour les input et les buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Supprime toutes les animations et transitions pour les personnes qui préfèrent ne pas les voir. */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01s !important;
    scroll-behavior: auto !important;
  }
}